---
//import { Image } from 'astro:assets';
import { Icon } from "astro-icon/components"
import Google from "../../public/icons/google.astro"
import Facebook from "../../public/icons/facebook.astro"
import Twitter from "../../public/icons/twitter.astro"
import Apple from "../../public/icons/apple.astro"
---


<!-- 
<section>
    <div class="ml-10 flex w-500">
        <div class="flex-col bg-slate-300 w-[400px]">
            <div class="flex-col mx-3 items-center justify-center">
                <button class="bg-black text-white rounded-full flex-row  text-wrap py-3 px-10 items-center font-bold">Regístrate</button>
                <button class="bg-white text-black flex-row rounded-full text-wrap py-3 px-10 items-center border border-black font-bold">Entrar</button>
                <p class="flex-col justify-center ml-20">O continúa en:</p>
                <div class="flex-row mx-2">
                    <Google class="size-6 "></Google>
                    <Facebook class="size-6"></Facebook>
                    <Twitter class="size-6 "></Twitter>
                    <Apple class="size-6"></Apple>
                </div>

            </div>
        </div>
        <div class="flex-col bg-red-400/90">

        </div>
    </div>
</section>
-->

<style>


</style>